@model QuizIt.Models.Question

<div class="centerContent">
    <div class="tileContainer">
        <a asp-action="Play" class="menueButton">Play</a>
    </div>
    <div class="tileContainer">

        <a asp-action="Paus" class="menueButton">Paus</a>
    </div>

    <div>

        @*<iframe src=@string.Format("https://open.spotify.com/embed/track/" + Model.TrackId) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>*@

        @foreach (var item in Model.Suggestions)
        {
            <iframe src=@string.Format("https://open.spotify.com/embed/track/" + item) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <br />
            <button class="btn-default">Spara den här låten till quiz</button>
        }



    </div>
</div>