<div class="centerContent">
    <div class="tileContainer">
        <a asp-action="Play" class="menueButton">Play</a>
    </div>
    <div class="tileContainer">

        <a asp-action="Paus" class="menueButton">Paus</a>
    </div>
</div>