@model QuizIt.Models.ViewModels.QuizQuestionsVm

<div class="centerContent">
    <div class="tileContainer">
        <a asp-action="Play" class="menueButton">Play</a>
    </div>
    <div class="tileContainer">

        <a asp-action="Paus" class="menueButton">Paus</a>
    </div>
    <input type="hidden" name="quizId" value="@Model.Quiz.Id" />
    <div>

        @*<iframe src=@string.Format("https://open.spotify.com/embed/track/" + Model.TrackId) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>*@
        @{
            int index = 0;
        }

        @foreach (var item in Model.Suggestions)
        {
            <div>
                <iframe src=@string.Format("https://open.spotify.com/embed/track/" + item) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <br />
                <a asp-controller="Questions" asp-action="Create" asp-route-id="@index">Spara den här låten till quiz</a>
            </div>
            index++;
        }



    </div>
</div>