@model QuizIt.Models.Question

<h2>Skapa ny fråga</h2>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-controller="Spotify" asp-action="Search">
            <div class="form-group">
                <label asp-for="TrackTitle" class="control-label">Låt</label>
                <input asp-for="TrackTitle" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sök låt" class="btn btn-default" />
            </div>
        </form>

        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="TrackTitle" class="control-label">Låt</label>
                <input asp-for="TrackTitle" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackQuestion" class="control-label">Fråga</label>
                <input asp-for="TrackQuestion" class="form-control" />
                <span asp-validation-for="TrackQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label">Svar</label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Skapa fråga" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Se alla frågor</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
