@model QuizIt.Models.Question

@{
    ViewData["Title"] = "Delete";
}

@section Hero{

    @*<div class="hero-image">
        <div class="hero-text">
            <h4>Ta bort fråga</h4>
        </div>*@
    <div class="herooo">
    </div>

    <div class="container" style="margin-top:-600px;">
        <div class="row">

            <div class="col-sm-12" style="color:#fff">
                <h5>
                    Om QuizIT
                </h5>
            </div>
        </div>

        <div class="text-block">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Fråga
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TrackQuestion)
                    </dd>
                    <dt>
                        Svar
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Answer)
                    </dd>
                    <dt>
                        Låt
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TrackTitle)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Ta bort" class="btn btn-default alert-danger" /> <br />
                    <a asp-action="Index">Se alla frågor</a>
                </form>
            </div>
        </div>

    </div>
}