@model QuizIt.Models.ViewModels.AddRoleVm

@section Hero{


    <div class="hero-image">
        <div class="hero-text">
            <h5>Admin</h5>
        </div>

        <div class="text-block">

            <div class="row" id="displayer">
                <div class="col-md-4">
                    <form asp-controller="Admins" asp-action="AddRoleForUser">

                        <div class="form-group">
                            <label asp-for="Email">Användarnamn</label>
                            <select class="form-control" asp-for="Email" asp-items="@Model.AllUsers">
                                <option>Välj användare</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Role">Roller</label>
                            <input class="form-control" asp-for="Role" asp-items="@Model.AllRoles">
                               @* <option>Välj roll</option>*@
                            </>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Skapa" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-controller="Home" asp-action="Index">Tillbaka</a>
            </div>
        </div>
    </div>
}