@model QuizIt.Models.ViewModels.AddRoleVm

@section Hero{
    <div class="herooo">
    </div>

    <div class="container" style="margin-top:-600px;">
        <div class="row">

            <div class="col-sm-12" style="color:#fff">
                <div id="displayer">
                    <h5>@Model.Email är nu tilldelad rollen @Model.Role</h5>


                </div>
            </div>
        </div>

    </div>
    <div style="height:380px"></div>
    }