@model QuizIt.Models.Track

@{
    ViewData["Title"] = "Delete";
}

<h2>Ta bort låt</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titel
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Artist
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-default alert-danger" /> |
        <a asp-action="Index">Se alla låtar</a>
    </form>
</div>
