@model QuizIt.Models.ViewModels.CreateQuizVM

@{
    ViewData["Title"] = "Create";
}

<div class="container-createnew">
    <img class="img-responsive" src="~/images/QuizIT-skapanytt.svg" />
    <hr />
    <div class="text-block-create">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Quiz.Name" class="control-label">Namn</label>
                        <input asp-for="Quiz.Name" class="form-control" />
                        <span asp-validation-for="Quiz.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Skapa quiz" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Se alla quiz</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
