@model QuizIt.Models.Quiz

@{
    ViewData["Title"] = "Delete";
}

@section Hero{

    <div class="herooo">
    </div>

    <div class="container" style="margin-top:-600px;">
        <div class="row">

            <div class="col-sm-12" style="color:#fff">
                <h5>
                    Ta bort Quizzet @Model.Name
                </h5>
            </div>
        </div>
        @*<div class="hero-image">
            <div class="hero-text">
                <h5>Ta bort Quizzet @Model.Name</h5>
            </div>*@

        <div class="text-block">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Namn
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Ta bort" class="btn btn-default alert-danger" /><br />
                    <a asp-action="Index">Se alla quiz</a>
                </form>
            </div>
        </div>
    </div>
    <div style="height:380px"></div>
}
