@model QuizIt.Models.ViewModels.QuizQuestionsVm

<div class="container-quiz">

    <img class="img-responsive" src="~/images/Quizit-empty.svg" />
    <div class="text-block-title">
        <h4>@Model.Quiz.Name</h4>
    </div>

    <div class="text-block text-block-login text-block-quiz">

        @{
            int index = 1;
        }

        @foreach (var question in Model.Questions)
        {
            <p>Fråga @index :</p>
            <p>@question.TrackQuestion</p>
            index++;

            if (User.Identity.IsAuthenticated)
            {
                <p>Svar: @question.Answer</p>
                <iframe src=@string.Format("https://open.spotify.com/embed/track/" + question.TrackId) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

            }
        }
    </div>

</div>