
@section Hero{

    <div class="hero-image">
        <div class="hero-text">
        </div>
        }

        <div class="text-block text-block-contact text-block-quiz">

            <div id="playQuiz">

                @if (!User.Identity.IsAuthenticated)
                {
                    <p>Skriv ditt namn </p><input type="text" id="userInput" style="color:black" />
                    <hr />
                }


                    <div>Fråga <span id="questionNumber"></span><div id="question"></div></div>
                <hr />

                @if (User.Identity.IsAuthenticated)
                {
                    <div>Svar: <span id="answer"></span></div>
                    <div id="spotifyUrl"></div>
                    <hr />


                }
                else
                {
                    <div>
                        <input type="button" class="sendButton" value="Jag kan svaret!!" style="color:black" />
                    </div>
                    <hr />

                }


                <p>Spelare som tryckt på knappen:</p>
                <div>
                    <ul id="resultList"></ul>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <hr />
                    <button onclick="nextQuestion()" style="color:black">Nästa fråga</button>

                }


            </div>

            <div id="quizFinished">
            </div>
        </div>
    </div>


<script>

    async function nextQuestion() {
        let response = await fetch("/quiz/nextquestion",
            {
                method: "GET"
            });

        let currentQuestion;

        if (response.status === 200) {
        }
    }
    </script>
    
