@model QuizIt.Models.ViewModels.QuizQuestionsVm

<h1>@Model.Quiz.Name</h1>

@{
    int index = 1;
}

@foreach (var question in Model.Questions)
    {
    <p>Fråga @index :</p>
    <p>@question.TrackQuestion</p>
    index++;

    if (User.Identity.IsAuthenticated)
    {
            <p>Svar: @question.Answer</p>
            <iframe src=@string.Format("https://open.spotify.com/embed/track/" + question.TrackId) width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        }
}