@section Hero{

    @*<div class="hero-image3">

        </div>*@

    <style>
        .herooo {
            background-image: url('../images/quizit-empty.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 900px;
        }

        .leeeets {
            font-family: "Amatic SC";
            font-size: 50px;
            font-style: normal;
            font-variant: normal;
            font-weight: 600;
            line-height: 15.4px;
        }
    </style>

    <div class="herooo">
    </div>

    <div class="container" style="margin-top:-600px;">
        <div class="row">
            
            <div class="col-sm-12" style="color:#fff">
                <h5>
                    Om QuizIT
                </h5>
            </div>
        </div>

        <div class="text-block">
            <div class="row">

                <div class="col-md-12" style="text-align:center">
                    <p><b>QuizIt </b> är ett sätt för dig och dina vänner att snabbt komma igång med ett kul musik-quiz!</p><br />
                    <p>
                        <b>Såhär går spelet till:</b> Som quizledare loggar du in och godkänner att hemsidan får tillgång till ditt Spotify-konto.
                        Därefter kan du som quizledare välja mellan att sätta igång ett quiz och spela det med dina vänner! När quizledaren valt quiz är det dags för spelarna att ansluta, det gör ni genom att gå in på ett quiz och ansluta med ditt namn eller lagnamn!

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="height:380px"></div>
}
    


@*<div class="text-block">
        <p><b>QuizIt </b> är ett sätt för dig och dina vänner att snabbt komma igång med ett kul musik-quiz!</p><br />
        <p>
            <b>Såhär går spelet till:</b> Som quizledare loggar du in och godkänner att hemsidan får tillgång till ditt Spotify-konto.
            Därefter kan du som quizledare välja mellan att sätta igång ett quiz och spela det med dina vänner! När quizledaren valt quiz är det dags för spelarna att ansluta, det gör ni genom att gå in på ett quiz och ansluta med ditt namn eller lagnamn!

        </p>
    </div>*@



