

<div class="container-about">
    <img src="~/images/Quizit-about.svg" />
    <div class="text-block">
        <p><b>QuizIt </b> är ett sätt för dig och dina vänner att snabbt komma igång med ett kul musik-quiz!</p><br />
        <p><b>Såhär går spelet till:</b> Som quizledare loggar du in och godkänner att hemsidan får tillgång till ditt Spotify-konto.</p>
        <p>Därefter kan du som quizledare välja mellan att sätta igång ett quiz som redan finns eller generera ett nytt quiz där</p>
        <p>du väljer kategorier och antal frågor! När quizledaren valt quiz är det dags för spelarna att ansluta, det gör ni genom</p>
        <p>att få en fyrsiffrig kod från quizledaren som ni matar in i er spelar-vy.</p>
    </div>
</div>


