
@section Hero{

    <div class="hero-image">
        <div class="hero-text">
            <h5>Kontakta oss</h5>
        </div>
}
<div class="text-block text-block-create">
    <h6>
        email: quizit@academy.se
    </h6>
</div>

</div>

