<div class="container-quiz">
    <img class="img-responsive" src="~/images/Quizit-contact.svg" />
    <div class="text-block">
        <h4>
            email: quizit@academy.se
        </h4>
    </div>
    @*<div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/Rebecka.png" />
            </div>
            <div class="flip-card-back">
                <br />
                <br />
                <button class="btn default">rebecka@quizit.se</button>

            </div>
        </div>
    </div>
    <div class="flip-card flip-card-middle">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/Erik.png" />
            </div>
            <div class="flip-card-back">
                <br />
                <br />
                <button class="btn default">erik@quizit.se</button>

            </div>
        </div>
    </div>
    <div class="flip-card flip-card-right">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/images/Erika.png" />
            </div>
            <div class="flip-card-back">
                <br />
                <br />
                <button class="btn default">erika@quizit.se</button>

            </div>
        </div>
    </div>*@
</div>
